---
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="generator" content={Astro.generator} />
    <title>JavaRCA.de</title>
</head>
<body class="bg-[url('/bg.jpg')] bg-cover bg-center bg-no-repeat bg-fixed">
    <main class="min-h-screen">
        <slot />
    </main>
</body>
</html>
